body {
    background:
    radial-gradient(circle at top, #ff000033, transparent 40%),
    #050505;
}
.button {
    display: inline-block;
    padding: 10px 25px;
    background: linear-gradient(90deg, #ff0000, #ff6600);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff0000;
}
